<div id="content">
  <form action="/" method="POST">
    <fieldset>
    <legend>Pwgen and Fibseq apps</legend>
		<body> Enter the number and length of passwords you wish to generate or, enter the number of Fibonacci sequence iterations you would like to see.
		</body> 
    <p>
      <label for="pwnum">Number of Passwords:</label>
      <input type="text" name="pwnum" id="pwnum" size="3">
    </p>
    <p>
      <label for="pwlen">Length of Password(s):</label>
      <input type="text" name="pwlen" id="pwlen" size="3">
    </p>
		<body>Or</body>
 		<p>
		 <label for="fibits">Number of Fibonacci iterations</label>
     <input type="text" name="fibits" id="fibits" size="3">
		</p>
   <p class="submit"><input type="submit" value="Submit"/></p>
    </fieldset>
  </form>
</div>
 
